#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#body {
  background-color: #fffcf7;

}
.nav-title {
  @include text-hide;
}
.nav-bar {
  margin-top: 4rem;
  margin-bottom: 2.4rem;
  font-size: 0.8rem;
}

.nav-title {
  font-family: 'Carter One', cursive;
  color: white;
  font-size: 0.7rem;
}

.pageTitle {
  font-family: 'Carter One', cursive;
  color: #FC9A82;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.home-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  margin-top: 0.5rem;

}
.tagline{
color: #b5bdbf;
font-family: 'Roboto', sans-serif;


}

.nav-button {
  flex-direction: row;
  padding: 1em 0.5em;
}

.nav-button>* {
  margin-right: 10px;

}

#infoId {
  margin-bottom: 1em;
  padding: 0.5em 0.5em;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.nav-link {
  color: #b5bdbf;
  padding: 1em 0.5em;
 }



.logout {
  font-family: 'Cabin', sans-serif;
  font-size: 0.8rem;
  color: #f8f9fa;
  height: 50%;
  margin-top: 0.7em;
  background: #A7D9BB;
  padding: 0.3rem 0.8rem;
  border-radius: 40px;
  border: solid 1px;
  border-color: #A7D9BB;
  background-image: none;
}
footer {
    display: block;
}


#myLinks {
  color: #b5bdbf;
  margin-bottom: 1em;
  padding: 0.5em 0.5em;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

}

/* capturePhoto.vue */

.capture-photo__file-btn {
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;

  padding: 0.3rem 1rem;
  border-radius: 100px;
  border: solid 1px #FBE6D9;
  color: #fc9a82;
  background-color: #FBE6D9;
  background-image: none;
  margin-top: -5rem;
  margin-bottom: 1.5rem;

}

.capture-photo__file-btn input {
  display: none;
}
#img-imported{
  vertical-align: middle;
}
#sendImage{
  margin-top: 1.5rem;
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 100px;
  color: #f8f9fa;
  background-color: #fc9a82;
  border-color: #fc9a82;
  border: solid 1px #fc9a82;
  vertical-align: middle;


}

#extractedLinkButton{
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;

  /* padding: 0.3rem 0.2rem; */
  border-radius: 5px;
  border: solid 1px #e8ede8;
  color: #fc9a82;
  height: 50%;
  margin-top: 20em;
  background-color: #fffefc;
  background-image: none;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

}
#extractedLink {
  color: #ddd8d0;

}





/* signIn */

#SignInHeader {
  color: #A7D9BB;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.signInForm {
  font-family: 'Lato', sans-serif;
  color: #b5bdbf;
  margin-top: 3rem;
}



#signInButton {
  font-family: 'Cabin', sans-serif;
  margin-bottom: 10px;
  color: #f8f9fa;
  background-color: #fc9a82;
  border-color: #fc9a82;
  background-image: none;

  padding: 0.3rem 1rem;
  border-radius: 50px;
  border: solid 1px;


}

#signUpHyperlink {
  font-weight: bold;
  color: #A7D9BB;
}



/* UrlList */

#urlListHeader {
  margin-bottom: 4rem;
  color: #A7D9BB;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.links-box {
   /* background-color: #fffefc; */
}

.listLinks {
  list-style: none;

}
#remove_url {
  font-family: 'Cabin', sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
  border: solid 1px #e8ede8;
  color: #b5bdbf;
  background-color: #e8ede8;
  background-image: none;
  /* margin-left: 3rem; */
  /* height: 1.5rem; */
  text-align: margin-right;
  flex-direction: inline-block;
  /* padding: 0.2rem 0.3rem; */
}
#url_list {
  color: #b5bdbf;

  /* margin-right: 7rem; */
}
.list-group-item {
    padding: 0.5rem 2rem;

}

/* AboutUs.vue */

.aboutUsContent {
  color: #b5bdbf;
}
#aboutUsHeader {
  margin-bottom: 4rem;
  
  color: #A7D9BB;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;

}
#blog {   font-weight: bold;
  color: #A7D9BB;

}
